body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa; /* Cor de fundo de exemplo */
  }
  
  .cadastro-container {
    max-width: 400px; /* Largura máxima do contêiner de cadastro */
    width: 100%;
    padding: 20px;
    background-color: #fff; /* Cor de fundo do contêiner de cadastro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .google-login-button {
    background-color: #dc3545; /* Cor de fundo do botão de login do Google */
    color: #fff;
    border: none;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff; /* Cor do link */
  }
  /* estilo.css */

/* Adiciona um gradiente de fundo que alterna suavemente as cores */
.gradient-bg {
    background: linear-gradient(45deg, #00c6fb, #005bea, #00c6fb, #005bea);
    animation: gradientAnimation 10s infinite alternate;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  